doctype html
html
    head
        title Insomnia Game
        meta(charset="utf-8")
        link(rel='stylesheet', href='stylesheets/teams.css')
        link(rel='stylesheet', href='stylesheets/style.css')
        link(rel='stylesheet', href='stylesheets/font-awesome.css')
        link(rel='stylesheet', href='stylesheets/animate.css')
        script(type='text/javascript', src="app.js")

    body
        div#port-container.animated.slideOutUp
        div#connection-notif.animated
        div#score-board-container

