if happyHour
   img(src="images/happy.jpg").bg-img
   div#happy-info=message
else
   img(src="images/classic.jpg").bg-img

if endCountdown
   div.endGameTitle Fin du jeu dans
div#countdown
div#final-countdown
div#odd-team
div#even-team